/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff0000, #000000); /* Fondo rojinegro degradado */
    color: white;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.icono {
    width: 50px;
    cursor: pointer;
}

.remaining-cards {
    font-size: 20px;
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
}

.card {
    background-color: #000;
    border: 2px solid #FF4500;
    border-radius: 15px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    min-height: 200px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.card p {
    font-size: 22px;
    text-align: center;
    color: #FFFAFA;
}

/* Animaciones para el cambio de tarjetas */
.fade-out {
    opacity: 0;
    transform: translateX(-100%);
}

.fade-in {
    opacity: 1;
    transform: translateX(0);
}
